.container-enjoy {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $poppins;
  font-weight: $poppins-semi;
  text-align: center;
}

.container-enjoy-article {
  padding: 5.625rem 1.68rem;
  @media all and (min-width: 768px) {
    font-size: $sub-title-size-m;
  }
}

.sub-title-enjoy {
  font-size: $sub-title-size;
  color: $dark-green;
  padding-bottom: 0.5rem;
  @media all and (min-width: 768px) {
    font-size: $sub-title-size-m;
  }
}

.button-enjoy {
  color: $light-text;
  background-color: $dark-green;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  text-transform: capitalize;
  border: none;
  outline: none;
}

.enjoy-image {
  width: 100%;
  height: 474px;
  background-image: url("/assets/images/creando-espacios.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
