.container-enjoy {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $poppins;
  font-weight: $poppins-semi;
  text-align: center;
}

.container-enjoy-article {
  padding: 5.625rem 1.68rem;
}

.title {
  font-size: $title-size;
  color: $dark-green;
  padding-bottom: 0.5rem;
}

.button-enjoy {
  color: $light-text;
  background-color: $dark-green;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  text-transform: capitalize;
  border: none;
  outline: none;
}

.enjoy-image {
  height: 19rem;
  width: 100%;
}

.anchor-footer {
  text-align: right;
  padding-right: 1.75rem;
}
