.hightlight__section {
  background-color: $light-grey;
  width: 100%;
  padding: 4.375rem;
}

.hightlight__advertising {
  font-family: $poppins;
  font-weight: $poppins-semi;
  color: $dark-green;
  font-size: $title-size;
  text-align: center;
  vertical-align: middle;
}

.hightlight__articles {
  padding-top: 2.313rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.25rem;
  text-align: center;
  padding-bottom: 1.25rem;
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.hightlight-image {
  @media all and (min-width: 768px) {
    width: 5.625rem;
    height: 6.625rem;
    margin-bottom: 2.438rem;
  }
}

.hightlight-subtitle {
  padding-bottom: 0.75rem;
  font-family: $poppins;
  font-weight: $poppins-semi;
  color: $dark-green;
  font-size: 1.25rem;
  text-align: center;
  vertical-align: middle;
}

.format {
  text-transform: uppercase;
  font-family: $poppins;
  font-weight: $poppins-semi;
  color: $dark-green;
  font-size: 1.5rem;
}

.text {
  font-family: $poppins;
  font-weight: $poppins-regu;
  color: $dark-green;
  font-size: 1rem;
  text-align: center;
}
