.hightlight__section {
  background-color: $light-grey;
  width: 100%;
  padding: 70px;
}

.hightlight__advertising {
  font-family: $poppins;
  font-weight: $poppins-semi;
  color: $dark-green;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
}

.hightlight__articles {
  padding-top: 37px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 36px;
  text-align: center;
  padding-bottom: 20px;
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.hightlight-image {
  @media all and (min-width: 768px) {
    width: 90px;
    height: 106px;
    margin-bottom: 39px;
  }
}

.hightlight-subtitle {
  padding-bottom: 12px;
  font-family: $poppins;
  font-weight: $poppins-semi;
  color: $dark-green;
  font-size: 1.25rem;
  text-align: center;
  vertical-align: middle;
}

.format {
  text-transform: uppercase;
  font-family: $poppins;
  font-weight: $poppins-semi;
  color: $dark-green;
  font-size: 1.5rem;
}

.text {
  font-family: $poppins;
  font-weight: $poppins-regu;
  color: $dark-green;
  font-size: 1rem;
  text-align: center;
}
