.container-shipping {
  background-color: $orange;
  color: $light-text;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3.125rem 1rem;
  font-family: $poppins;
}

.shipping-image {
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 1.125rem;
}

.sub-title-ship {
  font-size: $sub-title-size;
  font-weight: $poppins-semi;
  padding-bottom: 0.5rem;

  @media all and (min-width: 768px) {
    font-size: $sub-title-size-m;
  }
  @media all and (min-width: 1200px) {
    font-size: $title-size-m;
  }
}

.text-ship {
  font-weight: $poppins-regu;
  font-size: 0.875rem;
  padding-bottom: 1.125rem;
  @media all and (min-width: 1200px) {
    font-size: $small-text-size;
  }
}

.shipping-cta {
  font-size: 1rem;
  text-decoration: underline;
  padding: 0.75rem;
}
