<footer class="container">
    <nav class="links">
        <ul class="subtitle">
            <li class="title">Tienda</li>
            <li>Productos</li>
            <li>Cajoneras</li>
            <li>Para toda la casa</li>
            <li>Habitaciones</li>
        </ul>
    </nav>

    <nav>
        <ul class="subtitle">
            <li class="title">Nosotros</li>
            <li>Nuestra guía</li>
            <li>Nuestro diseño</li>
            <li>Nuestra historia</li>
            <li>Ayuda</li>
        </ul>
    </nav>

    <nav>
        <ul class="subtitle">
            <li class="title">Contacto</li>
            <li>Ayuda@openspaces.com</li>
            <li>Socios</li>
        </ul>
    </nav>

    <nav class="icon">
        <img src="../assets/images/icon/linkedin-in-brands.svg" alt="icono Linkedln" title="icono redes sociales" />
        <img src="../assets/images/icon/instagram-brands.svg" alt="icono Instagram" title="icono redes sociales" />
        <img src="../assets/images/icon/twitter-brands.svg" alt="icono Twitter" title="icono redes sociales" />
    </nav>

    <nav class="icon">
        <img src="../assets/images/icon/arrow-up-solid.svg" alt="icono flecha" title="flecha ancla" />
    </nav>

</footer>