<footer class="container-footer">
    <nav class="links">
        <ul class="subtitle-footer">
            <li class="title-footer">Tienda</li>
            <li>Productos</li>
            <li>Cajoneras</li>
            <li>Para toda la casa</li>
            <li>Habitaciones</li>
        </ul>
    </nav>

    <nav>
        <ul class="subtitle-footer">
            <li class="title-footer">Nosotros</li>
            <li>Nuestra guía</li>
            <li>Nuestro diseño</li>
            <li>Nuestra historia</li>
            <li>Ayuda</li>
        </ul>
    </nav>

    <nav>
        <ul class="subtitle-footer">
            <li class="title-footer">Contacto</li>
            <li>Ayuda@openspaces.com</li>
            <li>Socios</li>
        </ul>
    </nav>

    <nav class="icon-styles">

        <div class="menu-icon-footer">
            <a href="https://adalab.es/" target="_blank">
                <img class="menu-icon" src=" ./assets/images/icon/linkedin-in-brands.svg" alt="Linkedln"
                    title="Icon Linkedln" />
            </a>
        </div>

        <div class="menu-icon-footer">
            <a href="https://adalab.es/" target="_blank">
                <img class="menu-icon" src=" ./assets/images/icon/instagram-brands.svg" alt="Instagram"
                    title="Icon Instagram" />
            </a>
        </div>


        <div class="menu-icon-footer">
            <a href="https://adalab.es/" target="_blank">
                <img class="menu-icon" src=" ./assets/images/icon/twitter-brands.svg" alt="Twiter "
                    title="Icon twiter" />
            </a>
        </div>

        <div class="menu-icon-footer">
            <a href="https://adalab.es/">
                <img class="menu-icon" src=" ./assets/images/icon/arrow-up-solid.svg" alt="icon arrow up "
                    title="Icon arrow up" />
            </a>
        </div>


    </nav>


</footer>