<footer class="container-footer">
    <div class="container-footer-navs">
        <nav class="container-footer-nav">
            <ul>
                <li class="title-footer">Tienda</li>
                <li class="subtitle-footer">Productos</li>
                <li class="subtitle-footer">Cajoneras</li>
                <li class="subtitle-footer">Para toda la casa</li>
                <li class="subtitle-footer">Habitaciones</li>
            </ul>
        </nav>

        <nav class="container-footer-nav">
            <ul>
                <li class="title-footer">Nosotros</li>
                <li class="subtitle-footer">Nuestra guía</li>
                <li class="subtitle-footer">Nuestro diseño</li>
                <li class="subtitle-footer">Nuestra historia</li>
                <li class="subtitle-footer">Ayuda</li>
            </ul>
        </nav>

        <nav class="container-footer-nav">
            <ul>
                <li class="title-footer">Contacto</li>
                <li class="subtitle-footer">Ayuda@openspaces.com</li>
                <li class="subtitle-footer">Socios</li>
            </ul>

            <div class="container-social-links">
                <a href="https://adalab.es/" target="_blank">
                    <img class="menu-icon" src=" ./assets/images/icon/linkedin-in-brands.svg" alt="Linkedln"
                        title="Icon Linkedln" />
                </a>

                <a href="https://adalab.es/" target="_blank">
                    <img class="menu-icon" src=" ./assets/images/icon/instagram-brands.svg" alt="Instagram"
                        title="Icon Instagram" />
                </a>

                <a href="https://adalab.es/" target="_blank">
                    <img class="menu-icon" src=" ./assets/images/icon/twitter-brands.svg" alt="Twiter "
                        title="Icon twiter" />
                </a>
            </div>
        </nav>
    </div>

    <div class="anchor-footer">
        <a href="#top-page">
            <img class="menu-icon" src=" ./assets/images/icon/arrow-up-solid.svg" alt="icon arrow up "
                title="Icon arrow up" />
        </a>
    </div>

</footer>