<header class="container-header">

    <div class="icon-menu"><img src=" ./assets/images/icon/bars-solid.svg" alt="icono menu hamburger"
            title="icono menu hamburger" />
    </div>

    <div class="logo">
        <img src="./assets/images/logo.png" alt="logotipo" title="imagen logotipo" />
    </div>

    <div class="hero">
        <img src="./assets/images/header.jpg" alt="imagen header" title="imagen principal web" />
    </div>

    <section>

        <h1 class="title">Disfruta creando espacios</h1>
        <button class="button">Comprar ahora</button>

    </section>

</header>