<div class="menu-icon-container">
    <a href="https://adalab.es/" target="_blank">
        <img class="menu-icon" src=" ./assets/images/icon/bars-solid.svg" alt="icon hamburger menu "
            title="Icon hamburger menu" />
    </a>

    <nav class="menu__nav--expanded">
        <ul class="menu__nav-items">
            <li>
                <a href="https://adalab.es/" target="_blank">
                    Productos
                </a>
            </li>
            <li>
                <a href="https://adalab.es/" target="_blank">
                    Colecciones
                </a>
            </li>
            <li>
                <a href="https://adalab.es/" target="_blank">
                    Tienda
                </a>
            </li>
            <li>
                <a href="https://adalab.es/" target="_blank">
                    Inicio
                </a>
            </li>
        </ul>
    </nav>

</div>