$poppins: "Poppins", sans-serif;
$poppins-semi: 600;
$poppins-regu: 400;

$light-grey: #f0ebe5;
$orange: #ff975a;
$dark-green: #0c474b;
$grey: #b6c8c9;
$light-text: #ffffff;

$title-size: 1.5rem;
$title-size-m: 2.25rem;

$sub-title-size: 1.5rem;
$sub-title-size-m: 1.875rem;

$small-text-size: 1rem;
