.container-footer {
  width: 100%;
  background-color: $dark-green;
}

.title-footer {
  text-transform: capitalize;
  font-family: $poppins;
  font-weight: $poppins-semi;
  font-size: 20px;
  color: $grey;
}
.subtitle-footer {
  text-transform: capitalize;
  font-family: $poppins;
  font-weight: $poppins-regu;
  font-size: 14px;
  color: $grey;
}

.icon-styles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
