.container-footer {
  background-color: $dark-green;
  display: flex;
  flex-direction: column;
  padding: 3.65rem 1rem 3.65rem 9rem;
}

.container-footer-nav {
  padding-bottom: 1.25rem;
}

.title-footer {
  text-transform: capitalize;
  font-family: $poppins;
  font-weight: $poppins-semi;
  font-size: 20px;
  color: $grey;
}
.subtitle-footer {
  padding-top: 12px;
  text-transform: capitalize;
  font-family: $poppins;
  font-weight: $poppins-regu;
  font-size: 14px;
  color: $grey;
}

.container-social-links {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 0;
}

.container-social-links a {
  padding-right: 0.688rem;
}
