.header {
  padding-top: 55px;
  position: absolute;
  z-index: 99;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.icon-menu {
  width: 24px;
  height: 24px;
  margin: 36px 43px 136px 33px;
}

.logo {
  width: 213px;
  height: 96px;
}
