.main {
  width: 100%;
  text-align: center;
}

.section {
  width: 414px;
  height: 389px;
  padding: 19px 0 64px;
}

.section1 {
  background-color: $light-grey;
  font-family: $poppins;
  font-weight: $poppinsSemi;
  color: $darkGreen;
  width: 414px;
  height: 1108px;
  padding: 41px 47px 18px 45px;
}

.section2 {
  background-color: $orange;
  font-family: $poppins;
  font-weight: $poppinsSemi;
  color: $white;
  width: 414px;
  height: 352px;
  padding: 46px 0 51px;
}

.section3 {
  background-color: $light-grey;
  font-family: $poppins;
  font-weight: $poppinsSemi;
  color: $darkGreen;
  width: 414px;
  height: 389px;
  padding: 19px 0 64px;
}
.img {
  width: 414px;
  height: 339px;
}

.title {
  font-family: $poppins;
  font-weight: $poppinsSemi;
  text-align: center;
  color: $darkGreen;
}

.hero {
  width: 100%;
  height: 389px;
  padding: 19px 0 64px;
  display: flex;
  flex-direction: column;
}

.button {
  width: 176px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 24px 119px 0 62px;
  padding: 12px 24px;
  background-color: #0c474b;
}
