.main {
  width: 100%;
  text-align: center;
}

.section1 {
  background-color: $light-grey;
  font-family: $poppins;
  font-weight: $poppinsSemi;
  color: $darkGreen;
}

.section2 {
  background-color: $orange;
  font-family: $poppins;
  font-weight: $poppinsSemi;
  color: $white;
}

.section3 {
  background-color: $light-grey;
  font-family: $poppins;
  font-weight: $poppinsSemi;
  color: $darkGreen;
}
