.menu-icon-container {
  position: sticky;
  left: 2.063rem;
  top: 3.438rem;
  height: 0;
  padding-left: 2.063rem;
  z-index: 99;
}

.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
