<section class="hightlight__section">
    <h2 class="hightlight__advertising">
        Volverse organizado se siente mejor con <span class="format">Open Spaces</span>
    </h2>
    <div class="hightlight__articles">
        <article>
            <img class="hightlight-image" src="./assets/images/icon_1.png" alt="icono 1"
                title="Icono primera sección" />
            <h3 class="hightlight-subtitle">Lo que necesitas</h3>
            <h4 class="text">Una linea de productos diseñados para todos tus espacios</h4>
        </article>
        <article>
            <img class="hightlight-image" src="./assets/images/icon_2.png" alt="icono 2"
                title="Icono primera sección" />
            <h3 class="hightlight-subtitle">Materia primas sustentables</h3>
            <h4 class="text">Todos los productos con materias primas sustentables</h4>
        </article>
        <article>
            <img class="hightlight-image" src="./assets/images/icon_3.png" alt="icono 3"
                title="Icono primera sección" />
            <h3 class="hightlight-subtitle">Guía</h3>
            <h4 class="text">Soporte y asesoramiento para ayudarte con tu objetivo</h4>
        </article>
    </div>
</section>